$border-color: #dadada;
$button-bg: #0099ff;
$button-bg-hover: #b4d2ff;

form {
    margin: 20px auto;
    max-width: 400px;
    padding: 35px;
    border: 1px solid $border-color;
    background-color: #f7f7f7;
    border-radius: 5px;
    zoom:150%;
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid $border-color;
    border-radius: 4px;
  }

  #loginButton {
    background-color: $button-bg;
    color: #000;
    border: #000;
    padding: 10%;
    font-size: 90%;
    font-weight: 700;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 3%;
    margin-left: 3%;

    &:hover {
      background-color: $button-bg-hover;
      
    }
    
    &:not(:hover) {
      transition: background-color 0.3s ease;
    }
  }

  #cadastroButton {
    background-color: $button-bg;
    color: #000;
    border: none;
    padding: 3.5% 5%;
    font-size: 100%;
    font-weight: 700;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 3%;

    &:hover {
        background-color: $button-bg-hover;
        
    }

    &:not(:hover) {
        transition: background-color 0.3s ease;
    }
}
}


h1 {
  text-align: center;
  padding-top: 10px;
}

h2{
  font-size:12px;
}

a{
  text-decoration: none;
}

.containerLoginButton {
  display: flex;
  flex-direction: row;
  max-width: 18%;
  text-align: center;
}
